<!DOCTYPE html>
<html>
    <head>
        <title>Login...</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/start.css">
    </head>
    <body>
        <div class = "div_header"></div>
        <div class = "container">
            <form name = "loginForm" action = "/start" method = "post">
                <input type="hidden" name="_csrf" value= <%= csrfToken %> >
                <table>
                    <tr>
                        <td class = "td_top" colspan="2">
                            <input type = "hidden" name = "act" value = "login">
                            <font class = "loginErr" color = "red"></font>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td  class = "td_font">
                            <font>account:</font>
                        </td>
                        <td>
                            <input type = "text" name = "loginAcc" class = "inputBox" placeholder = "account">
                        </td>
                    </tr>
                    <tr>
                        <td class = "td_font" >
                            <font>password:</font>
                        </td>
                        <td>
                            <input type = "password" name = "loginPwd" class = "inputBox" placeholder = "password"/>
                        </td>
                    </tr>
                    <tr>
                        <td class = "td_bottom" colspan="2">
                            <button type = "button" id = "btn_login">LOGIN</button>
                        </td>
                    </tr>
                </table>
            </form>

            <div class = "div_space">↑ LOGIN?  or  SIGNUP?↓ </div>
            <!--login check-->
            <script> 
                var err = "<%= loginErr %>";
                if(!!err) document.getElementsByClassName("loginErr")[0].innerHTML = err;
                $("#btn_login").click(function(){
                    var loginAcc = document.getElementsByName("loginAcc")[0].value
                    var loginPwd = document.getElementsByName("loginPwd")[0].value

                    // check acc,pwd,cpwd is empty
                    if(loginAcc == ""){
                        err = "account can not empty";
                        document.getElementsByClassName("loginErr")[0].innerHTML = err;
                        return;
                    }
                    if(loginPwd == ""){ 
                        err = "password can not empty"
                        document.getElementsByClassName("loginErr")[0].innerHTML = err;
                        return;
                    }
                    document.getElementsByName("loginForm")[0].submit();
                })
                    
            </script>
            
            <form name = "signForm" action = "/start" method = "post">
                <input type="hidden" name="_csrf" value= <%= csrfToken %> >
                <table>
                    <tr>
                        <td class = "td_top" colspan="2">
                            <input type = "hidden" name = "act" value = "signup">
                            <font class = "signupErr" color = "red"></font>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td  class = "td_font">
                            <font>account:</font>
                        </td>
                        <td>
                            <input type = "text" name = "signupAcc" class = "inputBox" placeholder = "your account"></input>
                        </td>
                    </tr>
                    <tr>
                        <td class = "td_font" >
                            <font>password:</font>
                        </td>
                        <td>
                            <input type = "password" name = "signipPwd" class = "inputBox" placeholder = "your password"></input>
                        </td>
                    </tr>
                    <tr>
                        <td class = "td_font">
                            <font>confirm password:</font>
                        </td>
                        <td>
                            <input type = "password" name = "cpwd" class = "inputBox" placeholder = "your password again"></input>
                        </td>
                    </tr>
                    <tr>
                        <td class = "td_bottom" colspan="2">
                            <button type = "button" id = "btn_signup">SUBMIT and LOGIN</button>
                        </td>
                    </tr>
                </table>
            </form>
            <script>
                var err = "<%= signupErr %>";
                if(!!err) document.getElementsByClassName("signupErr")[0].innerHTML = err;
                
                $("#btn_signup").click(function(){
                    var signupAcc = document.getElementsByName("signupAcc")[0].value
                    var pwd = document.getElementsByName("signipPwd")[0].value
                    var cpwd = document.getElementsByName("cpwd")[0].value
                    var err = "";

                    // check acc,pwd,cpwd is empty
                    if(signupAcc == ""){
                        err = "account can not empty";
                        document.getElementsByClassName("signupErr")[0].innerHTML = err;
                        return;
                    }
                    if(pwd == ""){ 
                        err = "password can not empty"
                        document.getElementsByClassName("signupErr")[0].innerHTML = err;
                        return;
                    }

                    //check pwd length 4-50
                    if(pwd.length < 4 || pwd.length > 50) {
                        err = "Password length is between 4 and 50 words"
                        document.getElementsByClassName("signupErr")[0].innerHTML = err;
                        return;
                    }
                    //check pws legal
                    var reg = /^[a-z\d]+$/i;
                    if(!reg.test(pwd) || !reg.test(signupAcc)) {
                        var err = "account or password is not legal(only a-z A-Z 0-9)"
                        document.getElementsByClassName("signupErr")[0].innerHTML = err;
                        return;
                    }

                    //check whether pwd and cpwd are the same
                    if(pwd != cpwd){
                        err = "confirm password is wrong";
                        document.getElementsByClassName("signupErr")[0].innerHTML = err;
                        return;
                    }  
                    
                    document.getElementsByName("signForm")[0].submit();
                })

            </script>
        </div><!--container-->
    </body>
</html>