<!DOCTYPE html>
<html>
    <head>
        <title>Login...</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/start.css">
    </head>
    <body>
        
        <div class = "bigContainer" >
            <div class = "actContainer">
                <form name = "loginForm" action = "/start" method = "post">
                    <input type = "hidden" name = "act" value = "login">
                    <font class = "loginErr" color = "red"></font>
                    </br>
                    <font>account:</font>
                    </br>
                    <input type = "text" name = "loginAcc" placeholder = "account">
                    </br>
                    <font>password:</font>
                    </br>
                    <input type = "text" name = "loginPwd" placeholder = "password">
                    </br>
                    <input type = "button" id = "btn_login" value = "LOGIN"/>
                </form>
            </div>
        </div>

        <!--login check-->
        <script> 
            var err = "<%= loginErr %>";
            if(!!err) document.getElementsByClassName("loginErr")[0].innerHTML = err;
            $("#btn_login").click(function(){
                var loginAcc = document.getElementsByName("loginAcc")[0].value
                var loginPwd = document.getElementsByName("loginPwd")[0].value

                // check acc,pwd,cpwd is empty
                if(loginAcc == ""){
                    err = "account can not empty";
                    document.getElementsByClassName("loginErr")[0].innerHTML = err;
                    return;
                }
                if(loginPwd == ""){ 
                    err = "password can not empty"
                    document.getElementsByClassName("loginErr")[0].innerHTML = err;
                    return;
                }
                document.getElementsByName("loginForm")[0].submit();
            })
                
        </script>
        <div class = "bigContainer" >
            <div class = "actContainer">
                <form name = "signForm" action = "/start" method = "post">
                    <input type = "hidden" name = "act" value = "signup">
                    <font class = "signupErr" color = "red"></font>
                    </br>
                    <font>account:</font>
                    </br>
                    <input type = "text" name = "signupAcc" placeholder = "your account"></input>
                    </br>
                    <font>password:</font>
                    </br>
                    <input type = "text" name = "signipPwd" placeholder = "your password"></input>
                    </br>
                    <font>confirm password:</font>
                    </br>
                    <input type = "text" name = "cpwd" placeholder = "your password again"></input>
                    </br>
                    
                    <input type = "button" id = "btn_signup"value = "SUBMIT and LOGIN"/>
                </form>
            </div>
        </div> 
            <script>
                var err = "<%= signupErr %>";
                if(!!err) document.getElementsByClassName("signupErr")[0].innerHTML = err;
                
                $("#btn_signup").click(function(){
                    var signupAcc = document.getElementsByName("signupAcc")[0].value
                    var pwd = document.getElementsByName("signipPwd")[0].value
                    var cpwd = document.getElementsByName("cpwd")[0].value
                    var err = "";

                    // check acc,pwd,cpwd is empty
                    if(signupAcc == ""){
                        err = "account can not empty";
                        document.getElementsByClassName("signupErr")[0].innerHTML = err;
                        return;
                    }
                    if(pwd == ""){ 
                        err = "password can not empty"
                        document.getElementsByClassName("signupErr")[0].innerHTML = err;
                        return;
                    }

                    //check pwd length 4-50
                    if(pwd.length < 4 || pwd.length > 50) {
                        err = "Password length is between 4 and 50 words"
                        document.getElementsByClassName("signupErr")[0].innerHTML = err;
                        return;
                    }
                    //check pws legal
                    var reg = /^[a-z\d]+$/i;
                    if(!reg.test(pwd) || !reg.test(signupAcc)) {
                        var err = "account or password is not legal(only a-z A-Z 0-9)"
                        document.getElementsByClassName("signupErr")[0].innerHTML = err;
                        return;
                    }

                    //check whether pwd and cpwd are the same
                    if(pwd != cpwd){
                        err = "confirm password is wrong";
                        document.getElementsByClassName("signupErr")[0].innerHTML = err;
                        return;
                    }  
                    
                    document.getElementsByName("signForm")[0].submit();
                })

            </script>
    </body>
</html>