:root{
    --gridColNum: 6;
    --gridRowNum: 10;

}
html{
    width: 1440px;
    height: 900px;
}
body{
    margin: 0px;
}
header{
    font-size: 25px;
    background-color: #3a170f; /** #33CCFF; */
    width: 100vw;
    height: 50px;
}
.name{
    color: #F0FFFF;
    margin: 0px 20px;
    line-height: 50px;
}
main{
    display: grid;
    grid-template-columns: repeat(var(--gridColNum),[col] 1fr);
    grid-template-rows: repeat(var(--gridRowNum),[row] 1fr);
}
.tagRemove{
    margin: 5px 2px;
    padding: 0;
    text-align: right;
    line-height: 0;
    color: #FFF;
}
.tagRemove:hover{
    color: #F00;
}
.gridHidden{
    grid-column:span 1;
    grid-row:span 1;
    margin: 2px;
    background-color: #F0FFFF;
}
.gridItem{
    background-color: #c6ecf6;  /**#CCDDFF;*/
    margin: 2px;
    text-align: center;
    line-height: 3vh;  
}