:root{
    --gridColNum: 6;
    --gridRowNum: 10;

}
html{
    width: 1440px;
    height: 900px;
}
body{
    margin: 0px;
}
header{
    font-size: 25px;
    background-color: #3a170f; /** #33CCFF; */
    width: 100vw;
    height: 50px;
}
.name{
    color: #F0FFFF;
    margin: 0px 20px;
    line-height: 50px;
    display: inline-block;
}
main{
    display: grid;
    grid-template-columns: repeat(var(--gridColNum),[col] 1fr);
    grid-template-rows: repeat(var(--gridRowNum),[row] 1fr);
}
.tagRemove{
    margin: 5px 2px;
    padding: 0;
    text-align: right;
    line-height: 0;
    color: #FFF;
}
.tagRemove:hover{
    color: #F00;
}
.gridHidden{
    grid-column:span 1;
    grid-row:span 1;
    margin: 2px;
    background-color: #F0FFFF;
}
.gridItem{
    background-color: #c6ecf6;  /**#CCDDFF;*/
    margin: 2px;
    text-align: center;
    line-height: 3vh;
}
.blockListBtn{
    display: inline-block;
    position: absolute;
    right:0px;
    width:50px;
    height:50px;
}
.blockList{
    width:80vw;
    height:900px;
    position: absolute;
    top:50px;
    right:0px;
    background-color:gray;
    opacity:0.6;
}
.optionsContainer{
    width:50vw;
    height:25vh;
    text-align:center;
    vertical-align:middle;
    background-color:red;
    border:3px blue solid;
}
.options{
    height:25vh;
    background-color:green;
}