:root{
    --gridColNum: 6;
    --gridRowNum: 10;

}
html{
    width: 100%;/**1440px;*/
    height: 900px;
}
body{
    margin: 0px;
}
header{
    font-size: 25px;
    background-color: #3a170f; /** #33CCFF; */
    width: 100vw;
    height: 50px;
    position:fixed;
    top :0px
}
.hi{
    color: #F0FFFF;
    padding: 0 0 0 20px;
    margin:0;
    line-height: 50px;
    display: inline-block;
}
.userName{
    color: #F0FFFF;
    margin : 0;
    display: inline-block;
}

main{
    display: grid;
    grid-template-columns: repeat(var(--gridColNum),[col] 1fr);
    grid-template-rows: repeat(var(--gridRowNum),[row] 1fr);
}
.blockListItem{
    display: grid;
    grid-template-columns: repeat(2,[col] calc((100vw - 12px) / 6));
    grid-template-rows: repeat(1,[row] 1fr);
}
.tagRemove{
    margin: 5px 2px;
    padding: 0;
    text-align: right;
    line-height: 0;
    color: #FFF;
}
.tagRemove:hover{
    color: #F00;
}
.gridHidden{
    width: calc(100 / 6)vw;
    height: 30vh;
    grid-column: span 1;
    grid-row: span 1;
    margin: 2px;
    background-color: #F0FFFF;
}
.gridItem{
    width: calc(100 / 6)vw;
    height: 30vh;
    background-color: #c6ecf6;  /**#CCDDFF;*/
    margin: 2px;
    text-align: center;
    line-height: 3vh;
    overflow: scroll;
}
.itemTitle{
    font-weight:bold;
    font-size:18px;
}
.itemTitleLink{
    font-weight:bold;
    font-size:18px;
    color: #037;
}
.itemTitleLink:hover{
    color: #06f;
}
.blockListBtn{
    display: inline-block;
    position: absolute;
    right:0px;
    width:50px;
    height:50px;
    border: 0;
    background-color: #3a170f;
}
.blockList{
    width:50vw;
    height:calc(75vh + 33px);
    position: fixed;
    bottom:55px;
    right:0px;
    border:3px #f6c6ec solid;
    opacity:1.0;
    overflow: scroll;
}
.optionsContainer{
    width:720px;
    height:25vh;
    text-align:center;
    vertical-align:middle;
    background-color:#FFF;
    border:3px #ecf6c6 solid;
    background-color: #ecf6c6;
}
#select{
    font-size: 100%;
}
#subselect{
    font-size: 100%;
}

/*modal*/
.modalContainer{
    width:100%;
    height:100%;
    position: fixed;
    left:0;
    top:0;
    background-color: rgba(0,0,0,0.4);
    display:none;
}
.modal{
    width:50%;
    padding: 20px;
    margin: 15% auto;
    border: 1px solid #888;
    background-color: #fff;
}
.modalTitle,.newName,.saveName{
    margin: 0;
    display: inline-block;
}
/*modal*/

/*toolbar*/
.toolbarContainer{
    position: fixed;
    right:15px;
    bottom:15px;
    /*background-color:rgba(0,0,0,0.1);*/
}
.toolbarTable i{
    margin:0 10px;
    font-size:32px;
    color:#000;
    opacity: 0.5;
}
.toolbarTable i:hover{
    font-size:32px;
    color:#000;
    opacity: 1;
}
/*toolbar*/

/*setting*/
.settingList{
    position: fixed;
    bottom:55px;
    right:35px;
    border:3px #f6c6ec solid;
}
.settingTable{
    border:3px #ecf6c6 solid;
    background-color: #ecf6c6;
}
.settingTable font:hover{
    text-decoration: underline;
}
.settingTable tr{
    padding: 20px;
}
/*setting*/
