:root{
    --gridColNum: 6;
    --gridRowNum: 10;
    --headColor:#3a170f;
    --nameColor:#f0ffff;
    --fontColor:#000000;
    --itemColor:#c6ecf6;
    --backColor:#f0ffff;
}
html{
    width: 100%;/**1440px;*/
    height: 900px;
}
body{
    margin: 0px;
}
header{
    font-size: 25px;
    background-color: var(--headColor);
    width: 100vw;
    height: 50px;
    position:fixed;
    top :0px
}
.hi{
    color: var(--nameColor);
    padding: 0 0 0 20px;
    margin:0;
    line-height: 50px;
    display: inline-block;
}
.userName{
    color: var(--nameColor);
    margin : 0;
    display: inline-block;
}

main{
    display: grid;
    grid-template-columns: repeat(var(--gridColNum),1fr);
    grid-template-rows: repeat(var(--gridRowNum),1fr);
}
.articleImg{
    vertical-align:middle;
    width:50%;
    height:50%;
}
.blockListItem{
    display: grid;
    grid-template-columns: repeat(2,calc((100vw - 12px) / 6));
    grid-template-rows: repeat(1,1fr);
}
.tagRemove{
    margin: 6px 3px;
    float:left;
    width: 3px;
    font-size: 18px;
    padding: 0;
    line-height: 0;
    color: #FFF;
}
.tagRemove:hover{
    color: #F00;
}
.tagReload{
    margin: 8px 6px;
    float:left;
    width:3px;
    font-size: 2px;
    font-weight: normal;
    padding: 0;
    line-height: 0;
    color: #FFF;
}
.tagReload:hover{
    color: #0f0;
}
.gridHidden{
    width: calc(100 / 6)vw;
    height: 30vh;
    grid-column: span 1;
    grid-row: span 1;
    margin: 2px;
    background-color: var(--backColor);
}
.gridItem{
    color: var(--fontColor);
    width: calc(100 / 6)vw;
    height: 30vh;
    background-color: var(--itemColor);
    margin: 2px;
    text-align: center;
    line-height: 3vh;
    overflow: scroll;
}
.itemTitle{
    font-weight:bold;
    font-size:18px;
}
.itemTitleLink{
    font-weight:bold;
    font-size:18px;
    color: #037;
}
.itemTitleLink:hover{
    color: #06f;
    cursor:pointer;
}
.blockListBtn{
    display: inline-block;
    position: absolute;
    right:0px;
    width:50px;
    height:50px;
    border: 0;
    background-color: #3a170f;
}
.blockList{
    width:50vw;
    height:calc(75vh + 33px);
    position: fixed;
    bottom:55px;
    right:0px;
    border:3px #f6c6ec solid;
    opacity:1.0;
    overflow: scroll;
}
.optionsContainer{
    width:720px;
    height:25vh;
    text-align:center;
    vertical-align:middle;
    background-color:#FFF;
    border:3px #ecf6c6 solid;
    background-color: #ecf6c6;
}
#select{
    font-size: 100%;
}
#subselect{
    font-size: 100%;
}
.smallPostContent{
    height : calc(17vh + 2px);
    width: calc((100vw/6) - 10px);
    padding: 1px;
    margin: 0  2px;
    text-align: left;
    overflow: scroll;
}
.smallPostContent pre{
    font-size: 14px;
    margin: 0px;
    width:inherit;
}
.largePostContent{
    height : calc(17vh + 2px);
    width: calc((100vw/3) - 10px);
    padding: 1px;
    margin: 0 2px;
    text-align: left;
    overflow: scroll;
}
.largePostContent pre{
    font-size: 14px;
    margin: 0px;
    width:inherit;
}
.smallPosttextarea{
    height : calc(17vh + 2px);
    width: calc((100vw/6) - 10px);
    font-size: 14px;
    line-height: 21px;
    padding: 0;
    margin: 0 2px;
    overflow: scroll;
    white-space:nowrap;
    resize:none;
}
.largePosttextarea{
    height : calc(17vh + 2px);
    width: calc((100vw/3) - 10px);
    font-size: 14px;
    line-height: 21px;
    padding: 0;
    margin: 0 2px;
    overflow: scroll;
    white-space:nowrap;
    resize:none;
}
.postBtn{
    margin: 0 auto;
}

/*modal*/
.modalContainer{
    width:100%;
    height:100%;
    position: fixed;
    left:0;
    top:0;
    background-color: rgba(0,0,0,0.4);
    display:none;
}
.modal{
    width:50%;
    padding: 20px;
    margin: 15% auto;
    border: 1px solid #888;
    background-color: #fff;
}
.modalTitle,.newName,.save{
    margin: 0;
    display: inline-block;
}
/*modal*/

/*toolbar*/
.toolbarContainer{
    position: fixed;
    right:15px;
    bottom:15px;
    /*background-color:rgba(0,0,0,0.1);*/
}
.toolbarTable i{
    margin:0 10px;
    font-size:32px;
    color:#000;
    opacity: 0.5;
}
/*toolbar*/

/*setting*/
.settingList{
    position: fixed;
    bottom:55px;
    right:35px;
    border:3px #f6c6ec solid;
}
.settingTable{
    border:3px #ecf6c6 solid;
    background-color: #ecf6c6;
}
.settingTable font:hover{
    text-decoration: underline;
}
.settingTable tr{
    padding: 20px;
}
/*setting*/

/*teachPage*/
.teachPageContainer{
    position: fixed;
    top:0;
    left:0;
    width : 100%;
    height: 100%;
    background-color: #FFDDAA;
}
.teachPageHeader{
    height:5%;
    width:100%;
}
.teachPagebody{
    display:flex;
    height:75%;
}
.imageContainer{
    flex:8;
    background-repeat:no-repeat;
    background-position:center center;
    position: relative;
}

.prePageContainer,.nextPageContainer{
    flex:1;
    margin:0;
}
.prePageDiv,.nextPageDiv{
    width :100%;
    text-align: center;
    position: relative;
    top:calc(50% - 15px);
}
.nextPage,.prePage{
    font-size: 30px;
    position: relative;
}
.startBtn{
    font-size: 30px;
    text-align: center;
    position: relative;
    top:50%;
}
.skipBtn{
    font-size: 20px;
    position: fixed;
    right:30px;
    bottom: 30px;
}
.footer{
    width:100%;
    height:10%;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    bottom: 0;
}
/*teachPage*/
